PORT=

MONGO_URI=

JWT_SECRET=
JWT_EXPIRES=



CLOUDINARY_URL=

PUBLICK_KEY=
MERCADOPAGO_ACCESS_TOKEN=

# Variables para nodemailer

EMAIL_PASS = 
EMAIL_HOST = 
EMAIL_PORT = 
EMAIL_USER = 
EMAIL_FROM = 
EMAIL_OWNER = 

